header {
    background: none repeat scroll 0 0 #2c800d;
    color: #000000;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #2c800d;
    color: #000000;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

.box {
    background-color: rgb(224, 206, 247);
    border: 3px solid rebeccapurple;
    display: flow-root;
}